# Environment
ENV=development

# Django
SECRET_KEY=
DEBUG=True

# Allowed hosts
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.0.128

# Redis database 0 used as the Celery message broker
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Redis Database 1 used for chaches
REDIS_CACHE_URL=redis://127.0.0.1:6379/1

# PostgreSQL
DATABASE_URL=postgres://postgres:YOUR_DATABASE_PASSWORD@localhost:5432/ecom_db

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://192.168.0.128:5173

# CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://192.168.0.128:5173

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=30
REFRESH_TOKEN_LIFETIME_DAYS=1
ROTATE_REFRESH_TOKENS=false
BLACKLIST_AFTER_ROTATION=false
AUTH_HEADER_TYPES=Bearer

# Google reCAPTCHA
RECAPTCHA_SECRET_KEY=

# Clerk Provider
CLERK_SECRET_KEY=
CLERK_AUTHORIZED_PARTIES=http://localhost:5173,http://127.0.0.1:5173,http://192.168.0.128:5173

# Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback,http://127.0.0.1:5173/auth/google/callback,http://192.168.0.128:5173

# Facebook Provider
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=https://example.com/auth/facebook/callback

FACEBOOK_GRAPH_API_VERSION=v23.0